@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
    font-family: 'Press Start 2P', cursive;
}

body{
    background-color: #e2e8ec;
}

.game-container{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container{
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}

.tile-container{
    border-radius: 10px 10px 0 0;
    width: 300px;
    padding: 12px;
    background-color: #c4d0a2;
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffff;
}

.key-container{
    border-radius: 0 0 10px 10px ;
    width: 300px;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #8b966e;
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffff;
}

.key-container button{
    width: 37px;
    height: 35px;
    border-radius: 4px;
    background-color: inherit;
    border: #c4d0a2 2px solid;
    color: #c4d0a2;
    margin: 2px;
    font-size: 20px;
}

 .key-container button:last-child{
    width: 285px;
}

.key-container button:nth-child(27){
    width: 79px;
} 

.tile-container div{
    display: flex;
}

.tile-container .tile {
    width: 56px;
    height: 56px;
    border: 2px solid #8f9c8d;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 35px;
    color: #3a3a3c;
}

.message-container{
    position: absolute;
    top: 70px;
    margin-top: 5px;
    height: 30px;
}

.message-container p{
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

.tile.flip{
    animation: flipping 0.5s linear ;
}

@keyframes flipping {
    0%{
        transform: rotateX(0deg);
    }
    50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.grey-overlay {
    background-color:  #8b966e !important;
    color: #c4d0a2 !important;
    border: none !important;
}

.yellow-overlay {
    background-color:  #4e533d !important;
    color: #c4d0a2 !important;
    border: none !important;
}

.green-overlay {
    background-color:  #1f1f1f !important;
    color: #c4d0a2 !important;
    border: none !important;
}

